<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="irbu.lod"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--     <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
<!--     <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
<!--     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
<!--     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <!-- quitar debuggable para subir a un dispositivo -->
    <application
        android:name=".sesion.SesionApplication"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".IRBUActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modulos.BuscarRutaHoraActivity"
            
            android:label="@string/txtBuscarRuta" >
        </activity>
        <activity
            android:name=".modulos.BuscarRutaActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/txtBuscarRuta" >
        </activity>
        <activity
            android:name=".modulos.ListaRutasActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/txtListaRutas" >
        </activity>
        <activity
            android:name=".mapa.ViewMapaActivity"
            android:label="@string/txtMapa" >
        </activity>
        <activity
            android:name=".modulos.InfoParadasActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/txtBuscarRuta" >
        </activity>
        <activity
            android:name=".modulos.LoginEvaActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/txtLoginEva" >
        </activity>
        <activity
            android:name=".modulos.InfoEvaActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/txtLoginEva" >
        </activity>
        <activity
            android:name=".modulos.LlenarDatosEvaActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/txtLoginEva" >
        </activity>
        <activity
            android:name=".modulos.AyudaActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/txtAyuda" >
        </activity>
        <activity
            android:name="irbu.lod.modulos.InfoEstudianteActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/txtInformacionEstudiante" >
        </activity>
        <activity
            android:name="irbu.lod.modulos.listarrutas.ListaRutasParada"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/txtListaRutasHorarios" >
        </activity>
    </application>

</manifest>