<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="irbu.lod"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <!-- quitar debuggable para subir a un dispositivo -->
    <application
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".sesion.SesionApplication" >
        <activity
            android:label="@string/app_name"
            android:name=".IRBUActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/txtBuscarRuta"
            android:name=".modulos.BuscarRutaHoraActivity" >
        </activity>
        <activity
            android:label="@string/txtBuscarRuta"
            android:name=".modulos.BuscarRutaActivity" >
        </activity>
        <activity
            android:label="@string/txtBuscarRuta"
            android:name=".modulos.ListaRutasActivity" >
        </activity>
        <activity
            android:label="@string/txtBuscarRuta"
            android:name=".mapa.ViewMapaActivity" >
        </activity>
        <activity
            android:label="@string/txtBuscarRuta"
            android:name=".modulos.InfoParadasActivity" >
        </activity>
        <activity
            android:label="@string/txtLoginEva"
            android:name=".modulos.LoginEvaActivity" >
        </activity>
        <activity
            android:label="@string/txtLoginEva"
            android:name=".modulos.InfoEvaActivity" >
        </activity>
        <activity
            android:label="@string/txtLoginEva"
            android:name=".modulos.LlenarDatosEvaActivity" >
        </activity>
        <activity
            android:label="@string/txtLoginEva"
            android:name=".modulos.AyudaActivity" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
</manifest>